* {
	text-align: center;
	font-family: Arial, sans-serif;
}

#quote {
	padding: 20px;
}

.click {
	margin-top: 20px;
}

.box {
	margin: 20px auto;
	color: black;
	background-color: lightgray;
	border-radius: 10px;
}

#button {
	border: 1px solid black;
	padding: 10px;
	font-weight: 600;

}
.click {
	padding: 20px;
}

#click-to-tweet {
	padding: 10px;
	border: none;
	background-color: navy;
	color: white;
	line-height: 20px;
	width: 50%;
	float: right;
}

img {
	margin-top: 20px;
	border-radius: 50%;
	height: 350px;
	width: 350px;
}

@media screen and (max-width: 575px) {
	#button {
		width: 50%;
		float:left;
		font-size: 12px;
	}
	#click-to-tweet {
		width: 50%;
		float:left;
		font-size: 12px;
		line-height: 19px;
	}
}
