* {
	text-align: center;
	font-family: Arial, sans-serif;
}

body {
	background-color:#3B5323;
}

h2,h3,h4 {
	color: #fff;
}

#quote {
	margin: 10px 20px;
	padding: 0 20px 30px 0;
}

.click {
	margin-top: 20px;
}

.box {
	margin: 20px auto;
	color: black;
	background-color: #4A7023;
	border-radius: 10px;
	border: 3px solid #fff;
}
button {
	width: 50%;
}
#button {
	border: 1px solid black;
	padding: 9px;
	font-weight: 600;
}

.click {
	padding: 20px;
}

#click-to-tweet {
	padding: 10px;
	border: none;
	background-color: navy;
	color: white;
	line-height: 20px;
	width: 50%;
	float: right;
}

img {
	margin: 10px auto;
	border-radius: 50%;
	height: 350px;
	width: 350px;
}

@media (max-width: 435px) {
	#button {
		width: 100%;
		float:left;
		font-size: 12px;
	}
	#click-to-tweet {
		width: 100%;
		float:left;
		font-size: 12px;
		line-height: 19px;
	}
	#quote {
		padding: 65px 25px 25px;
	}
}
